body {
    background-image: url("images/inseec-ece-fond.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .milieuSite {
    text-align: center;
    margin-top: 50px; 
    position: relative; 
  }
  
  .milieuSite::after {
    content: "";
    position: absolute;
    top: -10px; /* Décale vers le haut pour agrandir la taille */
    left: -10px; /* Décale vers la gauche pour agrandir la taille */
    width: calc(100% + 20px); /* Agrandit la largeur */
    height: calc(100% + 20px); /* Agrandit la hauteur */
    background-color: rgba(255, 255, 255, 0.2); /* Couleur d'atténuation blanche, réduite en intensité */
    border-radius: 20px; /* Arrondi les coins du filtre */
    z-index: -1; /* Assurez-vous que l'élément pseudo soit en arrière-plan */
  }
  
  
  .milieuSite h1 {
    margin: 0;
    color: #262626; /* Couleur du texte */
    font-size: 48px; /* Ajoutez la taille souhaitée pour le titre */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s, text-shadow 0.3s; /* Ajoutez une transition pour l'effet de brillance */
  }
  
  .milieuSite h1:hover {
    color: #FFD700; /* Couleur dorée pour le survol */
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7); /* Ombre plus intense au survol */
    transition: color 0.4s ease-in-out, text-shadow 0.3s ease-in-out; /* Ajoute une transition en douceur */

  }
  
  .milieuSite p {
    margin: 0;
    color: #262626; /* Couleur du texte */
    font-size: 24px; /* Ajoutez la taille souhaitée pour le paragraphe */
    font-style: italic;
    line-height: 1.5;
  }
  
  .milieuSite p:hover {
    color: #FFD700; /* Couleur dorée pour le survol */
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7); /* Ombre plus intense au survol */
    transition: color 0.3s ease-in-out, text-shadow 0.4s ease-in-out; /* Ajoute une transition en douceur */

  }
  