body {
    background-image: url("images/inseec-ece-fond.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .milieuSite {
    text-align: center;
    margin-top: 50px; 
    position: relative; 
  }
  
  .milieuSite::after {
    content: "";
    position: absolute;
    top: -10px; 
    left: -10px; 
    width: calc(100% + 20px); 
    height: calc(100% + 20px); 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 20px; 
    z-index: -1; 
  }
  
  
  .milieuSite h1 {
    margin: 0;
    color: #262626; 
    font-size: 48px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .milieuSite h1:hover {
    color: #FFD700; 
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7); 
    transition: color 0.4s ease-in-out, text-shadow 0.3s ease-in-out; 

  }
  
  .milieuSite p {
    margin: 0;
    color: #262626; 
    font-size: 24px; 
    font-style: italic;
    line-height: 1.5;
  }
  
  .milieuSite p:hover {
    color: #FFD700; 
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7); 
    transition: color 0.3s ease-in-out, text-shadow 0.4s ease-in-out; 

  }
  